
@{
    ViewBag.Title = "List";
}

<br />
<h5 style="color:red;">@ViewBag.ErrorMsg</h5>
<form method="post" action="@Url.Action("Add", "Home")" >
    <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" required class="form-control" id="name" name="Firstname"  placeholder="Enter name">
       
    </div>
    <div class="form-group">
        <label >Surname</label>
        <input type="text" required class="form-control" id="surname" name="Lastname"  placeholder="Enter surname">
    </div>
    <div class="form-group">
        <label >TC</label>
        <input type="number" min="11"  required class="form-control" id="tc" name="Tc" placeholder="Enter tc">
    </div>
    <div class="form-group form-check">
        <label>Birthdate</label>
        <input type="date" required class="form-control" id="birthdate"  name="Dateofbirth" placeholder="Enter birthdate">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>