@model IEnumerable<Entities.Concrete.Customer>
@{
    ViewBag.Title = "List";
}

    <h2>
        @HttpContext.Current.Session["compName"]
    </h2>

<table class="table">
   <thead>
       <tr>
           <th>
               Ad
           </th>
           <th>
               SoyAd
           </th>
           <th>
               TC
           </th>
       </tr>
   </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Firstname</td>
            <td>@item.Lastname</td>
            <td>@item.Tc</td>
        </tr>
        }
    </tbody>
</table>